
body {
  padding-top: 0;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
  }
}

a.fa-long-arrow-right {
    font-size: .7em;
    text-decoration: none;
}

a.fa-long-arrow-left {
    font-size: 0.7em;
    text-decoration: none;
}

.fa-angle-left, .fa-angle-right {
    font-size: 3em;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-indicators .active {
    background-color: #D4D315;
}

.scenes {
    padding-top: 1.3em;
}

@media (min-width: 375px) {
    #img-portfolio {
         padding-bottom: 25px; 
    }
}
