/*color : #D4D315*/
/*color : #820F0D*/

/*---------------------*/

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Julius Sans One'; 
}

/*.content-section {
    padding-top: 7.5rem; 
    padding-bottom: 7.5rem; 
}*/

.content-section-heading h2 {
    font-size: 2rem; 
}

.content-section-heading h3 {
    font-size: 1rem;
    text-transform: uppercase; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700; 
}

h1 {
    font-size: 2rem !important;
}

ul li {
    list-style: none;
}

ul {
    padding: 0;
}

.mb-4 {
    color: #D4D315;
    font-size: 3em;
}

#tagline {
    padding-top: 50px;
    color: #404040;
}

.about {
    color: rgba(255, 255, 255, 0.7);
    margin-top: -45px;
    font-size: 1.25em;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7); 
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: #D4D315;
    line-height: 45px; 
}
  .scroll-to-top:focus, .scroll-to-top:hover {
    color: white; 
}
  .scroll-to-top:hover {
    background: #820F0D; 
}
  .scroll-to-top i {
    font-weight: 800; 
}

.masthead {
    background-color: #000;
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0; 
}

@media (max-width: 992px) {
    .masthead {
        height: 100vh; 
    }
    .masthead img.logo {
        width: 60%;
    }
    .masthead h3 {
        font-size: 1.2em;
    }
    .masthead p {
        font-size: 1rem; 
    } 
}

img.logo {   
    width: 40%;
}

#contact-section {
    height: 100vh;
}

/* Side Menu */
#sidebar-wrapper {
    position: fixed;
    top: 0;
    z-index: 2;
    right: 0;
    width: 250px;
    height: 100%;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background: #D4D315;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none; 
}

.sidebar-nav li.sidebar-nav-item a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px; 
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.1); 
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none; 
}

.sidebar-nav > .sidebar-brand {
    font-size: 1.2rem;
    background: rgba(52, 58, 64, 0.1);
    height: 80px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px; 
}

.sidebar-nav > .sidebar-brand a {
    color: #fff; 
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none; 
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: #D4D315;
    line-height: 50px;
    z-index: 999; 
}

.menu-toggle:focus, .menu-toggle:hover {
    color: #fff; 
}

.menu-toggle:hover {
    background: #820F0D; 
}

.portfolio-item {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 530px;
    margin: auto auto 1rem;
}

.portfolio-item .caption {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 37, 41, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1; 
}

.portfolio-item .caption .caption-content {
    color: #fff;
    margin: auto 2rem 2rem; 
}

.portfolio-item .caption .caption-content h2 {
    font-size: 0.8rem;
    text-transform: uppercase; 
}
      
.portfolio-item .caption .caption-content p {
    font-weight: 300;
    font-size: 1.2rem; 
}

@media (min-width: 992px) {
    .portfolio-item {
      max-width: none;
      margin: 0; 
    }

    .portfolio-item .caption {
      -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
      -webkit-clip-path: inset(0px);
      clip-path: inset(0px); 
    }

    .portfolio-item .caption .caption-content {
      transition: opacity 0.25s;
      margin-left: 5rem;
      margin-right: 5rem;
      margin-bottom: 5rem; 
    }

    .portfolio-item img {
      -webkit-transition: -webkit-clip-path 0.25s ease-out;
      -webkit-clip-path: inset(-1px);
      clip-path: inset(-1px); 
    }

    .portfolio-item:hover img {
        -webkit-clip-path: inset(2rem);
        clip-path: inset(2rem); 
    }
    .portfolio-item:hover .caption {
        background-color: rgba(29, 128, 159, 0.9);
        -webkit-clip-path: inset(2rem);
        clip-path: inset(2rem); 
    } 
}

#footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    bottom: 0;
}

#footer .text-muted {
     color: #404040; 
}

#contact-footer {
     color: rgba(255, 255, 255, 0.7)!important; 
     background-color: #000000;
     padding-bottom: 1rem;
     bottom: 0;
}

#about .email {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 1.3em;
}

#about .social-link {
    display: block;
    height: 1rem;
    width: 2rem;
    line-height: 2.5rem;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.7);
}

#about .social-link:hover {
    color: #D4D315;
    background-color: #000000;
    text-decoration: none; 
}

a {
    color: #D4D315; 
}

a:hover, a:focus, a:active {
    color: #820F0D; 
}

a.fa-long-arrow-down {
    font-size: 2em;
    text-decoration: none;
}

.text-primary {
    color: #1D809F !important; 
}

.text-secondary {
    color: #D4D315 !important; 
}
.margin-top-30 {
    margin-top: 30px;
}





