/* -------------------------------- 
color-scheme

21% k --- #636466
50% k --- #939598
75% k --- #636466
beige --- #E8E5CA
brown --- #846D4B
blue-green --- #3B7D92
dk blue --- #003B5F

-------------------------------- */


body,
html {
    width: auto;
    height: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

body,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;;
    font-weight: 500;
}

h1 {
    font-weight: 700;
}

ul, li {
    list-style: none;
}

ul { 
    overflow: hidden; 
}

hr {
  width: 50%;
  margin-top: 0;
}

/* -------------------------------- 
navbar
-------------------------------- */
.nav > li {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.nav > li > a {
    color: #939598;
    font-size: .8em;
}

li.active a {     
    color: #003B5F;
    font-weight: 600;
}

.nav .nav-center > li {
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0;
    float: none;
}

.navbar-inner {
    text-align: center;
}

.navbar-brand img {
    width: 75%;
    margin-bottom: 10px;
    margin-left: 0;
}

.navbar-brand > img {
    display: inline-block;
}

.logo-montage {
    font-family: 'Stoke', serif;
    font-size: 31px;
    color: #636466;
}

.nav > li > a:hover{
    background-color: transparent;
    color: #000;
}

/* Large desktop */
@media screen and (min-width: 1200px) {
  .navbar-brand img {
    width: 75%;
    margin-bottom: 10px;
    margin-left: 0;
  }
}
 
/* Landscape and desktop */
@media screen and (max-width: 991px) {
.navbar-brand img {
    width: 70%;
    margin-bottom: 10px;
    margin-left: 0;
  } 
}

/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 768px) and (max-width: 979px) {
.navbar-brand img {
    width: 70%;
    margin-bottom: 10px;
    margin-left: 0;
  } 
}
 
/* Landscape phone to portrait tablet */
@media screen and (max-width: 767px) {
.navbar-brand img {
    width: 70%;
    margin-bottom: 10px;
    margin-left: 0;
  } 
}
 
/* Landscape phones and down */
@media screen and (max-width: 480px) {
  .navbar-brand img {
    width: 68%;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .navbar-brand {
    padding: 0;
  }
  .logo-montage {
    font-size: 26px;
  }
}

/* -------------------------------- 
section-header // button
-------------------------------- */
.topnav {
    font-size: 14px; 
}

.contact-info #contact {
    font-size: .8em;
    color: #939598;
    display: inline-block;
}

.contact-info #contact:hover {
    background-color: transparent;
    border: none;
}

.contact-info #video a {
    font-size: .8em;
    color: #939598;
    margin-left: -10px;
    text-decoration: none;
    display: inline-block;
}

.contact-info #video a:hover {
    background-color: transparent;
    border: none;
}

.contact-info i {
    font-size: 1.5em;
    color: #939598;
    margin-left: 8px;
}

.contact-info {
  margin-top: 10px;
}

@media screen and (max-width: 991px) {
  .contact-info {
      float: right;
      margin-top: -35px;
      left: 0;
      right: 0;
  } 
}

@media screen and (max-width: 480px) {

  .contact-info {
      text-align: center;
      margin: 0;
      float: left;
  }
}

/* -------------------------------- 
intro-header
-------------------------------- */
#intro-img {
    background: url(../css/images/devices.jpg) no-repeat top center;
    background-size: 90%;
    height: auto;
    margin-top: 50px;
    padding-bottom: 100px;
}

.intro-message {
    position: relative;
    padding: 5% 75px;
}

#intro-img {
    width: 100%;
}

.intro-message > h1 {
    margin: 0;
    font-size: 4em;
    color: #636466;
    letter-spacing: -1px;
}

.intro-message > h3 {
    color: #636466;
    font-size: 3em;
    font-weight: 300;
    margin-top: 1px;
}

.intro-message > p {
    color: #636466;
    font-size: 24px;
    font-weight: 300;
}

.montage-info {
    width: 70%;
    padding-bottom: 20px;
}

@media screen and (min-width: 1200px) and (max-width: 1399px){
  .intro-message > h1 {
    margin: 0;
    font-size: 4em;
    color: #636466;
    letter-spacing: -1px;
    padding: 0;
}

.intro-message > h3 {
    color: #636466;
    font-size: 2.8em;
    font-weight: 300;
    margin-top: 1px;
}

.intro-message > p {
    color: #636466;
    font-size: 24px;
    font-weight: 300;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
 .intro-message {
    position: relative;
    padding: 5% 75px;
  }
  .intro-message > h1 {
      margin: 0;
      font-size: 3.2em;
      color: #636466;
      letter-spacing: -1px;
      padding: 0;
  }
  .intro-message > h3 {
      font-size: 2.2em;
  }
  .intro-message > p {
      font-size: 22px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .intro-message {
      position: relative;
      padding: 5% 65px;
  }
  .intro-message > h1 {
      margin: 0;
      font-size: 3em;
      color: #636466;
      letter-spacing: -1px;
      padding: 0;
  }
  .intro-message > h3 {
      font-size: 2em;
  }
  .intro-message > p {
      font-size: 22px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .intro-message {
      position: relative;
      padding: 0;
  }
  .intro-message > h1 {
      margin: 0;
      font-size: 3em;
      color: #636466;
      letter-spacing: -1px;
      padding: 0;
  }
  .intro-message > h3 {
      font-size: 2em;
  }
  .intro-message > p {
      font-size: 22px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .intro-message {
      padding: 0;
      margin-top: 0;
  }
  .intro-message > h1 {
      margin: 0;
      font-size: 1.5em;
      color: #636466;
      letter-spacing: -1px;
      padding: 0;
  }
  .intro-message > h3 {
      font-size: 1em;
  }
  .intro-message > p {
      font-size: 14px;
  } 
}

/* -------------------------------- 
get started button
-------------------------------- */
.cta-button {
    padding: 0;
}

.cta-button #demo {
    background-color: #939598;
}

.cta-button #dev-info {
    border: 1px solid #636466; 
    color: #636466;
}

.cta-button > li {
    list-style: none;
}

.btn-default {
    color: #fff;
    border-radius: 1px;
    font-size: 12px;
    padding: 15px 10px;
    border: 2px solid #fff;
}

@media screen and (min-width: 768px) and (max-width: 979px) {
  .cta-button {
      padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .cta-button {
      padding: 0;
  }
  .btn-default {
      color: #fff;
      border-radius: 1px;
      font-size: 10px;
      padding: 10px 5px;
      border: 2px solid #fff;
  }
}

/* -------------------------------- 
content-montage
-------------------------------- */
.content-montage {
    background-color: #D0D9E3;
    padding: 50px 0;
}

.content-montage h1 {
    color: #636466;
    font-size: 3em;
    letter-spacing: -1px;
}

.pie-graph img {
    width: 80%;
    margin-top: 30px;
}

.data-info {
    margin-right: 100px;
    margin-top: 50px;
}

.data-info p {
    font-size: 1.3em;
    font-weight: 300;
    color: #636466;
}

.data-info .headline {
    font-size: 26px;
    color: #fff;
}

/* Large Devices, Wide Screens */
@media screen and (max-width : 1200px) {
  .pie-graph img {
      width: 80%;
      margin-top: 30px;
  }
}

/* Medium Devices, Desktops */
@media screen and (max-width : 992px) and (min-width: 769px) {
  .col-xs-offset-2 {
      margin-left:0;
  }
}

/* Small Devices, Tablets */
@media screen and (max-width : 768px) and (min-width: 668px) {
  .content-montage h1 {
      font-size: 2em;
  } 
  .col-xs-offset-2 {
      margin-left:0;
  }
  .pie {
      width: 50%;
  }
  .text {
      width: 50%;
  }  
}

/* Extra Small Devices, Phones */
@media screen and (max-width : 667px) and (min-width : 321px){
  .content-montage h1 {
      font-size: 1.5em;
  } 
  .data-info {
      width: 100%; 
  }
  .data-info p {
      font-size: 1em;
  }
  .data-info .headline {
      font-size: 16px;
  }
}

/* Custom, iPhone Retina */
@media screen and (max-width : 320px){
  .content-montage h1 {
      font-size: 1.5em;
  } 
  
  .pie-graph img {
      margin-left: 50px;
  }
  .data-info {
      margin-right: 0;  
  }
  .data-info p {
      font-size: 1em;
  }
  .data-info .headline {
      font-size: 16px;
  }    
}


/* -------------------------------- 
content-section-a
-------------------------------- */
.content-section-a {
    background: url(../css/images/phone-1.jpg) no-repeat bottom right;
    background-size: 60%;
    background-position-y: 60px;
    padding: 100px 0;
}

.content-section-a .lead-1 {
    font-size: 30px;
    font-weight: 600;
    color: #636466;
}

.content-section-a h2 {
    font-weight: 300;
    color: #636466;
}

.content-section-a p {
    font-weight: 300;
    color: #636466;
    font-size: 1.3em;
}

@media screen and (max-width : 1200px){
    .content-section-a {
      background: url(../css/images/phone-1.jpg) no-repeat bottom right;
      background-size: 60%;
  }    
}

@media screen and (max-width : 1199px) and (min-width: 992px) {
  .content-section-a {
      background: url(../css/images/phone-1.jpg) no-repeat bottom right;
      background-size: 60%;
  }    
}

@media screen and (max-width: 991px) and (min-width : 769px) {
  .content-section-a {
      background: url(../css/images/phone-1.jpg) no-repeat bottom right;
      background-size: 60%;   
  }    
}

@media screen and (max-width : 768px) and (min-width: 668px) {

  .content-section-a {
      background: url(../css/images/phone-1.jpg) no-repeat bottom center;
      background-size: 60%;   
  }
  .content-section-a .lead-1 {
      font-size: 28px;
      font-weight: 400;
      color: #000;
      padding-top: 50px;
  }
  .content-section-a h2 {
      margin-left: 25px;
  }
  .content-section-a p {
      font-weight: 300;
      color: #636466;
      font-size: 1em;
      margin-left: 25px;
  }
}    

@media screen and (max-width : 667px) and (min-width : 321px) {

  .content-section-a {
      background: url(../css/images/phone-1.jpg) no-repeat bottom center;
      background-size: 60%;
  }
  .content-section-a p {
      font-weight: 300;
      color: #636466;
      font-size: 1em;
  }    
}

@media screen and (max-width : 320px) {
    .content-section-a {
      background: url(../css/images/phone-1.jpg) no-repeat bottom center;
      background-size: 60%;
  }
  .content-section-a p {
      font-weight: 300;
      color: #636466;
      font-size: 1em;
  }    
}

/* -------------------------------- 
contact-demo
-------------------------------- */
.contact-demo {
    background: url(../css/images/ag-bkg.jpg) no-repeat center center;
    background-size: cover;
    padding: 75px 0;
}

.form-message h1 {
    font-weight: 400;
}

.form-message h1, p {
    color: #fff;
}

.form-message p {
    font-size: 18px;
}

#ag-btn {
    border-color: #fff 1px;
    color: #fff;
    background-color: transparent;
    text-shadow: 1px 1px rgba(0,0,0, .25);
    margin-top: 30px;
}

/* -------------------------------- 
content-section-b
-------------------------------- */
.content-section-b h4 {
    color: #636466;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

#testimonial {
    padding: 50px 0;
}

.lead-2 {
    font-size: 28px;
    font-weight: 300;
    color: #636466;
    padding: 10px;
}

.lead-2 img {
    width: 7%;
    margin-bottom: 15px;
}

.name > h4 {
    font-weight: 300;
    color: #636466;
}

@media(max-width: 468px) {
  
    li.active:after {
        display: none;
    }
    
    .cta-button {
      padding: 0;  
  }  
}

/* -------------------------------- 
content-section-c
-------------------------------- */
.content-section-c {
    background-color: #e7e7e7;
    padding-bottom: 20px;
}

.content-section-c h1 {
    text-align: center;
    color: #fff;
    font-size: 21px;
}

.content-section-c img {
    width: 50%;
}

.content-section-c #django {
    width: 20%;
    margin-top: 10px;
}

@media screen and (max-width: 468px) {
  
    .content-section-c #django {
        width: 25%;
        margin-top: 1px;
    }
    .content-section-c img {
        width: 100%;
        margin-left: 15px;
  }  
}

/* -------------------------------- 
footer
-------------------------------- */
#footer {
    padding: 25px 0;
    color: #636466;
    font-weight: 300;
}

#footer h2, h4 {
    margin-left: 40px;
    font-size: 1em;
}

#footer h4  a {
    font-size: 1em;
    color: #636466;
    text-decoration: none;
}

#footer ul li {
    display: inline-block;
    padding-right: 10px;
    font-size: .9em;
}

#footer .account {
    background-color: #e7e7e7;
    padding: 10px 40px;
    position: absolute;
    top: 39px;
    right: 0;
    width: 400px;
}

.account a {
  color: #fff;
}  

#footer .address {
    color: #636466;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: .9em;
}

.border {
    border-top-style: solid;
    width: 10%;
    margin-left: 40px;
    margin-top: 20px;
    color: #e7e7e7;
}

#footer h4 {
    margin-top: -11px;
}

@media screen and (max-width : 1199px) and (min-width: 992px) {
  #footer .account {
      top: -39px;
  }
}

@media screen and (max-width: 991px) and (min-width : 769px) {
  #footer .account {
      top: -39px;
      width: 380px;
  }
}

@media screen and (max-width : 768px) and (min-width: 668px) {

  #footer .account {
      top: -39px;
      width: 250px;
  }
  #footer a  {
      font-size: 11px;
  }
}

@media screen and (max-width : 667px) and (min-width : 321px) {
  
  #footer .account {
      top: 33px;
      right: 0;
      width: 125px;
      padding: 5px;
  }
  #footer a  {
      font-size: 11px;
  }
}

@media screen and (max-width : 320px) {

  #footer .account {
      top: 33px;
      right: 0;
      width: 125px;
      padding: 5px;
  }
  #footer a  {
      font-size: 11px;
  }
}

a {
  color: #636466;
}

a:hover {
  text-decoration: none;
}

/* -------------------------------- 
sign up modal
-------------------------------- */
.modal-body {
    height: 400px;
}

.modal-body  > .contact > .text-center > .input-text {
    padding: 5px 40px;
    margin-bottom: 10px;
    margin-right: 25px;
    background-color: #dadbdb;
    border: none;
}

.modal-body > .contact > .input-email {
     padding: 5px 169px;
     margin-left: 29px;
     margin-bottom: 20px;
     background-color: #dadbdb;
     border: none;
}

.modal-body > .contact > .input-message {
    padding: 100px 164px;
    margin-left: 29px;
    text-align: center;
}

.btn-modal {
    background-color: #4fbbeb;
    color: #fff;
    border-radius: 0px !important;
    border: none;
    padding: 10px 20px;
    margin-top: 22px;
}

@media screen and (max-width: 468px) {

    .modal-body > .contact > .input-email {
        padding: 5px 40px;
        margin-left: 35px;
        margin-bottom: 20px;
        background-color: #dadbdb;
        border: none;
    }
    
    .modal-body > .contact > .input-message {
        padding: 45px 35px;
        margin-left: 35px;
        text-align: center; 
  }
}















