/* -------------------------------- 
color-scheme
15% K --- #DBDCDE
21% k --- #
50% k --- #939598
75% k --- #636466
blue --- #00AEEF
dk blue --- #00355F
green --- #8DC63F
-------------------------------- */

/* -------------------------------- 
font-sizes
main-titles: 4em
sub-titles: 1.7em
font-size: 1.2em
font-size: .7em
-------------------------------- */

/* -------------------------------- 
wrapper-section
-------------------------------- */
.logo > a > img {
    width: 75%;
}

@media screen and (min-width : 375px) and (max-width : 667px) {

    .logo > a > img {
        width: 30%;
        margin-left: 20px;
    }   
}

/* -------------------------------- 
intro-header
-------------------------------- */
#intro-img {
    background: url(../css/images/mobile-devices.jpg) no-repeat top right;
    background-size: 80%;
    background-position: 350px 225px;
    height: auto;
    padding-bottom: 50px;
}

.intro-message {
    position: relative;
/*    padding: 2% 0;*/
}

.intro-message img {
    width: 25%;
}

@media screen and (min-width : 375px) and (max-width : 667px) {

    .intro-message img {
        width: 60%;
    }   
} 

#intro-img {
    width: 100%;
}

.intro-message > h1 {
    margin: 0;
    font-size: 4em;
    color: #636466;
    letter-spacing: -1px;
}

.intro-message > h3 {
    color: #00355F;
    font-size: 2em;
    font-weight: 300;
}

.intro-message > h2 {
    color: #00355F;
    font-size: 4em;
    font-weight: 300;
}

.intro-message-2 > p {
    color: #636466;
    font-size: 24px;
    font-weight: 300;
}

.montage-info {
    width: 70%;
    padding-bottom: 20px;
    padding-top: 65px;
}

@media screen and (min-width: 1200px) and (max-width: 1399px){
  .intro-message > h1 {
    margin: 0;
    font-size: 4em;
    color: #636466;
    letter-spacing: -1px;
    padding: 0;
}

.intro-message > h3 {
    color: #636466;
    font-size: 2.8em;
    font-weight: 300;
    margin-top: 1px;
}

.intro-message > p {
    color: #636466;
    font-size: 24px;
    font-weight: 300;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
 .intro-message {
    position: relative;
    padding: 5% 75px;
  }
  .intro-message > h1 {
      margin: 0;
      font-size: 3.2em;
      color: #636466;
      letter-spacing: -1px;
      padding: 0;
  }
  .intro-message > h3 {
      font-size: 2.2em;
  }
  .intro-message > p {
      font-size: 22px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .intro-message {
      position: relative;
      padding: 5% 65px;
  }
  .intro-message > h1 {
      margin: 0;
      font-size: 3em;
      color: #636466;
      letter-spacing: -1px;
      padding: 0;
  }
  .intro-message > h3 {
      font-size: 2em;
  }
  .intro-message > p {
      font-size: 22px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .intro-message {
      position: relative;
      padding: 0;
  }
  .intro-message > h1 {
      margin: 0;
      font-size: 3em;
      color: #636466;
      letter-spacing: -1px;
      padding: 0;
  }
  .intro-message > h3 {
      font-size: 2em;
  }
  .intro-message > p {
      font-size: 22px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .intro-message {
      padding: 0;
      margin-top: 0;
  }
  .intro-message > h1 {
      margin: 0;
      font-size: 1.5em;
      color: #636466;
      letter-spacing: -1px;
      padding: 0;
  }
  .intro-message > h3 {
      font-size: 1em;
  }
  .intro-message > p {
      font-size: 14px;
  } 
}

/* -------------------------------- 
learn more button
-------------------------------- */
.cta-button {
    padding: 0;
}

.cta-button #demo {
    background-color: #00AEEF;
}

.cta-button #dev-info {
    border: 1px solid #636466; 
    color: #636466;
}

.cta-button > li {
    list-style: none;
}

.btn-default {
    color: #fff;
    border-radius: 1px;
    font-size: 12px;
    padding: 10px 25px;
    border: 2px solid #fff;
}

@media screen and (min-width: 768px) and (max-width: 979px) {
  .cta-button {
      padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .cta-button {
      padding: 0;
  }
  .btn-default {
      color: #fff;
      border-radius: 1px;
      font-size: 10px;
      padding: 10px 5px;
      border: 2px solid #fff;
  }
}

/* -------------------------------- 
platform-services
-------------------------------- */
#platform-services {
    background-color: #DBDCDE;
    padding: 50px 0;
}

#platform-services h2 {
    color: #00355F;
    font-size: 2em;
    padding-bottom: 25px;
}

#platform-services p {
    color: #00355F;
    font-size: 2em;
    font-weight: 500;
}

#platform-services .lead-2 {
    color: #00355F;
    font-size: 1.5em;
    padding-bottom: 25px;
}

.service-item {
    margin-bottom: 30px;
    height: 190px;
    padding-top: 25px;
    background-color: rgba(255, 255, 255, 0.4);
}

.service-item > img {
    width: 40%;
}

.graph > img {
    width: 50%;
}

#platform-services .service-item p {
    font-weight: 300;
    font-size: 1em;
    color: #939598;
    margin-top: 20px;
}

@media screen and (min-width : 375px) and (max-width : 667px) {

    .service-item > img {
        width: 20%;
    }    
}

/* -------------------------------- 
platform-data
-------------------------------- */
#platform-data {
    padding: 50px 0;
}

#platform-data .lead-1 {
    color: #00355F;
    font-size: 2.3em;
}

#platform-data .lead-2 {
    color: #00355F;
    font-size: 4em;
}

#platform-data p {
    color: #00355F;
    font-size: 1.2em;
    line-height: 1.8em;
}

#platform-data h5 {
    color: #00355F;
    font-size: 2.3em;
}

/* -------------------------------- 
platform-market
-------------------------------- */
#platform-market {
    display: table;
    position: relative;
    width: 100%;
    height: 50%;
    background: url(../css/images/market-bkg.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#platform-market h1, h3, p {
    color: #fff;
}

.text-vertical-center {
    padding-top: 50px;
}

@media screen and (min-width : 375px) and (max-width : 667px) {

    #platform-market {
        display: table;
        position: relative;
        width: 100%;
        height: 80%;
    }    
}











