/* -------------------------------- 
color-scheme
15% K --- #DBDCDE
21% k --- #
50% k --- #939598
75% k --- #636466
blue --- #00AEEF
dk blue --- #00355F
green --- #8DC63F
-------------------------------- */

/* -------------------------------- 
font-sizes
main-titles: 4em
sub-titles: 1.7em
font-size: 1.2em
font-size: .7em
-------------------------------- */

html,
body {
    width: 100%;
    height: 100%;
}

body,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    /*font-weight: 700;*/
    color: #fff;
}

/* -------------------------------- 
button styles
-------------------------------- */
.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: #00355F;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: #00AEEF;
}

.btn-light {
    border-radius: 0;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #00AEEF;
    background-color: none;
}

#btn-cta {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,174,239, .6);
}

#btn-cta:hover,
#btn-cta:focus,
#btn-cta:active {
    color: #fff;
    background-color: #00355F;
}

.btn-default {
    color: #fff;
    background-color: transparent; 
    border-color: transparent;
}

.btn-default:hover {
    background-color: transparent;
    color: #fff;
    border-color: transparent;
}

/* -------------------------------- 
horizontal rule
-------------------------------- */
hr.section-header {
    width: 10%;
    border: solid 2px #00AEEF;
}

/* -------------------------------- 
sidebar-wrapper : navigation
-------------------------------- */
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #00355F;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav > li {
    text-indent: 20px;
    line-height: 40px;
    text-transform: uppercase;
}

.sidebar-nav > li > a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-left: 75px;
    margin-top: 20px;
}

#active > a {
    padding-top: 150px;
}

.sidebar-nav > li > a:hover {
    text-decoration: none;
    color: #00AEEF;
}

#sidebar-wrapper li.active a {
    text-decoration: none;
    color: #00AEEF;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

#sidebar-wrapper.active {
    left: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

.fa-times {
    color: #fff;
}

.fa-times:hover {
    color: #00AEEF;
}

#sidebar-wrapper > h4 {
    z-index: 1000;
    margin-top: 600px;
    margin-left: 100px;
    border-top: solid 2px #fff;
    line-height: 3.5em;
}

#sidebar-wrapper a {
    color: #fff;
}

a {
    color: #fff;
}

/*.fa {
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 7px;
}*/

/* -------------------------------- 
header
-------------------------------- */
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../css/images/header-bkg.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar-brand > img {
    width: 80%;
    margin-left: 100px;
}

.your-data p {
    font-size: 1.3em;
}

.your-data h1 {
    color: #fff;
    font-size: 4.5em;
    padding-top: 50px;
}

.your-data > h2 {
    color: #fff;
}

/* -------------------------------- 
about
-------------------------------- */
.about {
    padding: 50px 0;
}

.text-about > h2  {
    color: #00AEEF;
}

.text-center > h5 {
    color: #00AEEF;
}

.text-center > .lead {
    font-weight: 700;
    font-size: 4em;
    color: #00AEEF;
}

/* -------------------------------- 
services
-------------------------------- */
#services {
    background: url(../css/images/data-bkg.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#services h2 {
    color: #00355F;
    font-size: 5em;
}

#services p {
    color: #00355F;
    font-size: 2em;
    font-weight: 500;
}

#services .lead-2 {
    color: #00355F;
    font-size: 1.5em;
    padding-bottom: 25px;
}

.service-item {
    margin-bottom: 30px;
    height: 175px;
    padding-top: 25px;
    background-color: rgba(255, 255, 255, 0.4);
}

.service-item > img {
    width: 25%;
}

.format > img {
    width: 20%;
}

#services .service-item p {
    font-size: 1em;
}

/* -------------------------------- 
call-to-action
-------------------------------- */
.call-to-action {
    display: table;
    width: 100%;
    color: #fff;
    background-color: #00AEEF;
}

.call-to-action h1 {
    font-size: 1.5em;
}

/* -------------------------------- 
footer
-------------------------------- */
#footer {
    padding: 25px 0;
    color: #636466;
    font-weight: 300;
}

#footer h2, h4 {
    color: #636466;
    margin-left: 40px;
    font-size: 1em;
}

#footer h4, a {
    font-size: 1em;
    color: #636466;
    text-decoration: none;
}

#footer ul li {
    display: inline-block;
    padding-right: 10px;
    font-size: .9em;
}

#footer .account {
    background-color: #e7e7e7;
    padding: 10px 40px;
    position: absolute;
    top: 39px;
    right: 0;
    width: 400px;
}

.account a {
  color: #fff;
}  

#footer .address {
    color: #636466;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: .9em;
}

.border {
    border-top-style: solid;
    width: 10%;
    margin-left: 40px;
    margin-top: 20px;
    color: #e7e7e7;
}

#footer h4 {
    margin-top: -11px;
}

@media screen and (max-width : 1199px) and (min-width: 992px) {
  #footer .account {
      top: -39px;
  }
}

@media screen and (max-width: 991px) and (min-width : 769px) {
  #footer .account {
      top: -39px;
      width: 380px;
  }
}

@media screen and (max-width : 768px) and (min-width: 668px) {

  #footer .account {
      top: -39px;
      width: 250px;
  }
  #footer a  {
      font-size: 11px;
  }
}

@media screen and (max-width : 667px) and (min-width : 321px) {
  
  #footer .account {
      top: 33px;
      right: 0;
      width: 125px;
      padding: 5px;
  }
  #footer a  {
      font-size: 11px;
  }
}

@media screen and (max-width : 320px) {

  #footer .account {
      top: 33px;
      right: 0;
      width: 125px;
      padding: 5px;
  }
  #footer a  {
      font-size: 11px;
  }
}

a:hover {
  text-decoration: none;
}

/* -------------------------------- 
sign up modal
-------------------------------- */
.modal-body {
    height: 400px;
}

.modal-body  > .contact > .text-center > .input-text {
    padding: 5px 40px;
    margin-bottom: 10px;
    margin-right: 25px;
    background-color: #dadbdb;
    border: none;
    color: #000;
}

.modal-body > .contact > .text-center > #input-email {
     padding: 5px 169px;
     margin-left: 0;
     margin-bottom: 20px;
     background-color: #dadbdb;
     border: none;
}

.modal-body > .contact > .text-center > #input-message {
    padding: 100px 164px;
    margin-left: 0;
    text-align: center;
}

.btn-modal {
    background-color: #00AEEF;
    color: #fff;
    border-radius: 0px !important;
    border: none;
    padding: 10px 20px;
    margin-top: 22px;
}

.btn-modal:hover {
    background-color: #00AEEF;
    color: #fff;
}

.modal-header > img {
    width: 20%;
}

@media screen and (max-width : 768px) and (min-width: 668px) {
    .btn-modal {
        margin-top: 265px;
    }

    .modal-body > .contact > .text-center > #input-message {
        margin-left: 45px;
        margin-right: 0;
    }  
}

@media screen and (max-width : 667px) and (min-width : 321px) {
    .btn-modal {
        margin-top: 50px;
    }

    .modal-body > .contact > .text-center > #input-email {
        padding: 5px 169px;
        margin-left: 0;
    }
       
    .modal-body > .contact > .text-center > #input-message {
        padding: 100px 164px;
        margin-left: 0;   
    }
}

@media only screen and (min-width : 320px) and (max-width : 568px) {
    .modal-body > .contact > .text-center > #input-email {
        padding: 5px 40px;
        margin-left: 0;
    }

    .modal-body > .contact > .text-center > #input-message {
        padding: 50px 35px;
        margin-left: 0;   
    }
}









