/* -------------------------------- 
color-scheme
15% K --- #DBDCDE
21% k --- #
50% k --- #939598
75% k --- #636466
blue --- #00AEEF
dk blue --- #00355F
green --- #8DC63F
-------------------------------- */

/* -------------------------------- 
contact-form
-------------------------------- */
#contact-wrapper {
    height: 99%;
}

#contact-section {
    margin-top: 70px;
}

.intro-message > p {
    color: #fff;
    font-weight: 300;
    font-size: 2em;
}

.intro-message .contact-lead-2 {
    font-size: 1.2em;
    font-weight: 500;
}

#demo {
    background-color: transparent;
}

input[type=text] {
    color: #fff;
    font-weight: 300;
    height: 28px;
    padding: 15px 0;
    text-decoration: none;
    background-color: transparent;  
    border-top:0;
    border-right:0;
    border-bottom:1px solid #fff;
    border-left:0;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
}

input::-webkit-input-placeholder {
    color: #fff;
}

#form[type] {
    outline: none;
}

#btn-ready {
    background-color: #00AEEF;
    color: #fff;
    border-radius: 0px !important;
    border: none;
    font-size: 1.1em;
    padding: 10px 75px;
    margin-top: 200px;
    box-shadow: none;
    cursor: none;
}

#btn-submit {
    background-color: transparent;
    color: #fff;
    border-radius: 0px !important;
    border: transparent;
    box-shadow: none;
}

.contact-info .trade {
    font-size: .5em;
    top: -7px;
    position: relative;
}

@media screen and (min-width: 668px) and (max-width : 768px) {
    #contact-wrapper {
        height: 890px;
    }

    #btn-ready {
        margin-top: 175px;
    }
}

@media screen and (min-width : 321px) and (max-width : 667px) {
    #contact-wrapper {
        height: 800px;
    }

    #btn-ready {
        margin-top: 85px;
    }
}



