/* -------------------------------- 
color-scheme
15% K --- #DBDCDE
21% k --- #
50% k --- #939598
75% k --- #636466
blue --- #00AEEF
dk blue --- #00355F
green --- #8DC63F
-------------------------------- */

/* -------------------------------- 
font-sizes
main-titles: 4em
sub-titles: 1.7em
font-size: 1.2em
font-size: .7em
-------------------------------- */

body,
html {
    width: auto;
    height: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

body,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;;
    font-weight: 300;
}

h1 {
    font-weight: 300;
    font-size: 4em;1
}

ul, li {
    list-style: none;
}

ul { 
    overflow: hidden; 
}

/* -------------------------------- 
navbar
-------------------------------- */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-left: 225px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.container-nav {
    padding-top: 25px;
    padding-bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    margin-left: 0;
}

hr.nav-line {
    margin-top: 20px;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #636466;;
    width: 75%;
}

.wrapper {
    background: url(../css/images/land-header.jpg) no-repeat bottom center;
    background-size: cover;
    height: 600px;
}

.nav {
    margin-right: 100px;
}

.nav > li {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    padding: 5px 10px;
}

.nav > li > a {
    color: #FFF;
    font-size: .8em;
    font-weight: 500;
}

li.active a { 
    border-bottom: thick solid #8DC63F;
}

.nav .nav-center > li {
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0;
    float: none;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand > img {
    /*height: 100%;*/
    padding: 15px;
    width: auto;
    /*position: relative;
    width: 45%;
    margin-top: -15px;*/
}

.container-nav .navbar-brand > img {
    padding: 7px 15px;
}

.nav > li > a:hover {
    background-color: transparent;
    color: #00355F;
}

/* Large desktop */
@media screen and (min-width: 1200px) {
    .navbar-brand img {
        position: relative;
        width: 45%;
        margin-top: -15px;
    }
}
 
/* Landscape and desktop */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-brand img {
        position: relative;
        width: 40%;
        margin-top: -15px;
    }

    .container-nav {
        margin-left: 0;
    }

    .nav > li > a {
        padding: 0;
    }

    .navbar-default {
        margin-left: 160px;
    }

    .nav {
        margin-right: 0;
    }  
}

/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 769px) and (max-width: 991px) {
    .navbar-brand img {
        position: relative;
        width: 40%;
        margin-top: -15px;
    }

    .container-nav {
        margin-left: 0;
    }

    .nav > li > a {
        padding: 0;
    }

    .navbar-brand {
        padding: 0;
    }

     .navbar-default {
        margin-left: 100px;
    }

     .nav {
        margin-right: 0;
    } 
}
 
/* Landscape phone to portrait tablet */
/*@media screen and (max-width: 767px) {
    .navbar-brand img {
        position: relative;
        width: 40%;
        margin-top: -15px;
    }

    .container-nav {
        margin-left: 0;
        padding-top: 0;
    }

    .nav > li > a {
        padding: 0;
    }

    .navbar-default {
        margin-left: 100px;
        height: 0;
    }

     .nav {
        margin-right: 0;
    }  
}*/

@media screen and (min-width: 668px) and (max-width : 768px) {
    .navbar-brand img {
        position: relative;
        width: 38%;
       /* margin-top: -55px;*/
    }

    .nav > li > a {
        padding: 0;
    }

    .container-nav {
        margin-left: 0;
    }

    .navbar-default {
        margin-left: 100px;
    } 

    .navbar-brand {
        padding: 0;
    }

    .nav {
        margin-right: 0;
    }

    .container-nav {
        padding-top: 0;
    }
}

@media screen and (min-width : 321px) and (max-width : 667px) {
    .navbar-brand img {
        position: relative;
        width: 39%;
        margin-top: 0;
    }

    .nav > li > a {
        padding: 0;
    }

    .container-nav {
        margin-left: 0;
    }

    .navbar-default {
        margin-left: 60px;
    } 

    .navbar-brand {
        padding: 0;
    }

    .nav {
        margin-right: 0;
    }

    .container-nav {
        padding-top: 0;
    }
}

/* -------------------------------- 
intro-header
-------------------------------- */
#intro-wrapper {
    margin-top: 50px;
}

.intro-message {
    position: relative;
    margin-bottom: 225px;
}

.intro-message > .intro-montage {
    margin: 0;
    font-size: 4.5em;
    color: #00355F;
    letter-spacing: -1px;
    line-height: 1.1em;
}

.intro-message > .intro-quote {
    color: #fff;
    font-size: 1.7em;
    font-weight: 300;
    font-style: italic;
}

.intro-quote, .cofounder {
    font-size: .7em;
    font-style: normal;
}

.intro-quote {
    padding: 50px 0;
}

.intro-message > .intro-cta {
    font-style: italic;
    font-weight: 300;
    font-size: 1em;
    color: #fff;
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .intro-message > .intro-montage {
        margin: 0;
        font-size: 4em;
        letter-spacing: -1px;
        padding: 0;
    }

    .intro-message > .intro-quote {
        font-size: 1.7em;
        font-weight: 300;
    }

    .intro-message > .intro-cta {
        font-size: 1em;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .intro-message {
        position: relative;
        padding: 5% 75px;
    }

    .intro-message > .intro-montage {
        margin: 0;
        font-size: 3.2em;
        letter-spacing: -1px;
        padding: 0;
    }

    .intro-message > .intro-quote {
        font-size: 1.7em;
    }

    .intro-message > .intro-cta {
        font-size: 1em;
    }      
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .intro-message {
        position: relative;
        padding: 5% 65px;
    }

    .intro-message > .intro-montage {
        margin: 0;
        font-size: 3em;
        letter-spacing: -1px;
        padding: 0;
    }
   
    .intro-message > .intro-quote {
        font-size: 1.5em;
    }

    .intro-message > .intro-cta {
        font-size: 1em;
    } 
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .intro-message {
        position: relative;
        padding: 0;
    }

    .intro-message > .intro-montage {
        margin: 0;
        font-size: 3em;
        letter-spacing: -1px;
        padding: 0;
    }

    .intro-message > .intro-quote {
        font-size: 1.5em;
    }

    .intro-message > .intro-cta {
        font-size: 1em;
    }  
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .intro-message {
        padding: 0;
        margin-top: 0;
    }

    .intro-message > .intro-montage {
        margin: 0;
        font-size: 2.7em;
        letter-spacing: -1px;
        padding: 0;
    }

    .intro-message > .intro-quote {
        font-size: 1.4em;
    }

    .intro-message > .intro-cta {
        font-size: .9em;
    } 
}

/* -------------------------------- 
button-cta
-------------------------------- */
.btn-default {
    font-size: 1em;
    color: #fff;
    background-color: #8DC63F;
    border-color: transparent;
    border-radius: 1px;
    margin-bottom: 25px;
    box-shadow: 1px 1px 3px #939598;
    padding: 10px 30px;
}

.btn:hover {
    background-color: #00355F;
    color: #fff;
    border-color: transparent;
}

/* -------------------------------- 
content-section-a
-------------------------------- */
.content-section-a {
    background-color: #FFF;
    margin-top: 25px;
}

.section-a-info > p {
    color: #939598;
}

.section-a-info > h1 {
    color: #939598;
    font-size: 4.5em;
}

.section-a-info > .section-a-lead-1 {
    font-size: 1.7em;
}

.section-a-info > .section-a-lead-2 {
    font-size: 1.2em;
    padding-bottom: 40px;
}

.section-a-image-1 > p {
    color: #939598;
    width: 100%;
    padding-top: 25px;
}

.section-a-image-1 img {
    width: 100%;
}

@media screen and (max-width : 768px) and (min-width: 668px) {
    .section-a-image-1 img {
        width: 100%;
   }
}

@media screen and (max-width : 667px) and (min-width : 321px) {
    .section-a-image-1 img {
        width: 99%;
   }
}

span.montage-farm {
    color: #8DC63F;
    font-size: 1.2em;
    font-weight: 500;
}

.section-a-image-lead-2 {
    font-size: 1.7em;
    font-weight: 300;
}

#lead-2 {
    margin-top: -20px;
}

.section-a-image-2 > p {
    color: #939598;
    width: 100%;
    padding-top: 25px;
}

.section-a-image-2 img {
    width: 100%;
}

@media screen and (max-width : 768px) and (min-width: 668px) {
    .section-a-image-2 img {
        width: 100%;
    }
}   

@media screen and (max-width : 667px) and (min-width : 321px) {
    .section-a-image-2 img {
        width: 99%;
    }
}

.section-a-image-lead-1 {
    font-size: 1.2em;
}

.section-a-image-lead-1b {
    font-size: 1.7em;
    font-weight: 300;
}

.section-a-image-lead-2b {
    font-size: 1.2em;
}

#lead-2b {
    margin-top: -20px;
}

.section-a-features {
    padding: 25px 0;
}

.section-a-features > h1 {
    color: #939598;
}

.section-a-features > h4 {
    font-size: 1.3em;
    padding-bottom: 40px;
    color: #939598;
}

.file-info > img {
    position: relative;
    z-index: 1;
  }

.file-info > h2 {
    color: #939598;
    width: 45%;
    font-size: 1.7em;
    text-align: center;
}

.file-info > p {
    color: #939598;
    width: 45%;
    padding-bottom: 25px;
    text-align: center;
}

#file-info-1 {
    margin-left: 150px;
}

#file-info-1 > p {
    margin-left: 20px;
}

#file-info-1 > h2 {
    margin-left: 10px;
}

#file-info-2 {
    margin-left: 50px;
}

hr.features-line-1 {
    margin-top: 80px;
    margin-bottom: 0;
    margin-left: -120px;
    margin-right: -80px;
    border: 0;
    border-top: 1px solid #DBDCDE;
}

hr.features-line-2 {
    margin-top: 80px;
    margin-bottom: 0;
    margin-left: -220px;
    margin-right: -100px;
    border: 0;
    border-top: 1px solid #DBDCDE;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .file-info img {
        margin-left: 65px;
    }

    .file-info > h2 {
        margin-left: 90px;
    }

    .file-info > p {
        margin-left: 80px;
    }

    #file-info-1 {
        margin-left: 50px;
    }

    #file-info-1 > p {
        margin-left: 100px;
    }

    #file-info-1 > h2 {
        margin-left: 75px;
    }

     #file-info-2 {
        margin-left: 10px;
    }      
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    .file-info img {
        margin-left: 20px;
    }

    .file-info > h2 {
        margin-left: 50px;
    }

    .file-info > p {
        margin-left: 55px;
    }  
    .file-info > h2 {
        margin-left: 50px;
    }

    .file-info > p {
        margin-left: 60px;
    }

    #file-info-1 {
        margin-left: 30px;
    }

    #file-info-1 > p {
        margin-left: 70px;
    }

    #file-info-1 > h2 {
        margin-left: 40px;
    }

    #file-info-2 {
        margin-left: 10px;
    }      
}    

@media screen and (max-width : 768px) and (min-width: 668px) {
    .file-info img {
        margin-left: 20px;
    }

    .file-info > h2 {
        margin-left: 50px;
    }

    .file-info > p {
        margin-left: 55px;
    }

    #file-info-1 {
        margin-left: 0;
    }

    #file-info-1 > p {
        margin-left: 70px;
    }

    #file-info-1 > h2 {
        margin-left: 40px;
    }

    #file-info-2 {
        margin-left: 0;
  }            
}

@media screen and (max-width : 667px) and (min-width : 321px) {
    .file-info img {
        width: 99%;
    }

    .file-info > h2 {
        font-size:  1em;
        margin-left: 10px;
    }

    .file-info > p {
        font-size: .8em;
        margin-left: 15px;
    } 

    .section-a-features > h4 {
        margin-left: -10px;
    } 

    #file-info-1 {
        margin-left: 0;
    }

    #file-info-2 {
        margin-left: 0;
    }

    hr.features-line-1,  hr.features-line-2 {
        display: none;
    }    
}

hr.section-a {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #DBDCDE;
    width: 7%;
}

/* -------------------------------- 
content-section-image
-------------------------------- */
.content-section-image {
    background: url(../css/images/farmer-truck.jpg) no-repeat bottom center;
    background-size: cover;
    padding: 75px;
}

.file-management > h1 {
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0, .25);
    font-size: 4.5em;
}

@media screen and (max-width : 667px) and (min-width : 321px) {
    .file-management > h1 {
        font-size: 2.2em;
   }     
}

/* -------------------------------- 
content-section-image-2
-------------------------------- */
.content-section-image-2 {
    background: url(../css/images/soil.jpg) no-repeat bottom center;
    background-size: cover;
    padding: 75px;
}

/* -------------------------------- 
content-section-b
-------------------------------- */
.section-b-info-image {
    margin-bottom: 50px;
}

.section-b-info > .section-b-lead-1 {
    font-weight: 300;
    font-size: 1.7em;
    color: #939598;
    padding-top: 25px;
}

.section-b-info > .section-b-lead-2 {
    font-weight: 300;
    font-size: 1.2em;
    color: #939598;
}

.section-b-info > .section-b-lead-3 {
    font-weight: 300;
    font-size: 1.2em;
    color: #939598;
    padding-bottom: 40px;
}

.section-b-info-2 > ul > li {
    color: #939598;
}

.section-b-info-3 > ul > li {
    color: #939598;
}

.section-c-info-2 > ul > li {
    color: #939598;
}

.section-c-info-3 > ul > li {
    color: #939598;
}

@media screen and (max-width : 768px) and (min-width: 668px) {
    .section-b-info-2, .section-b-info-3, .section-c-info-2, .section-c-info-3 {
        margin-left: -15px;
    }

    .section-b-info-image img {
        width: 150%;
    }
}

@media screen and (max-width : 667px) and (min-width : 321px) {
    .section-b-info-2, .section-b-info-3, .section-c-info-2, .section-c-info-3 {
        margin-left: -15px;
    }

    .section-b-info-image img {
        width: 150%;
    }
}

/* -------------------------------- 
content-section-image-3
-------------------------------- */
.content-section-image-3 {
    background: url(../css/images/access-bkg.jpg) no-repeat bottom center;
    background-size: cover;
    padding: 75px;
}

/* -------------------------------- 
section-c-cta
-------------------------------- */
.section-c-image {
    margin-top: 25px;
}

.section-c-cta > button {
    margin-top:  50px;
}

.section-c-cta > .intro-cta-2 {
    font-size: 1em;
    padding-bottom: 25px;
    color: #939598;
}

/* -------------------------------- 
footer
-------------------------------- */
#footer {
    background-color: #DBDCDE;
    padding: 15px 0;
    color: #636466;
    font-weight: 300;
    right: 0;
    bottom: 0;
    left: 0;
}

#footer h2, h4 {
    margin-left: 40px;
    font-size: 1em;
}

#footer h4  a {
    font-size: 1em;
    color: #636466;
    text-decoration: none;
}

#footer ul li {
    display: inline-block;
    padding-right: 20px;
    font-size: .9em;
}

.social-media a {
    color: #636466;
}

#footer .address {
    color: #636466;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: .9em;
}

.border {
    border-top-style: solid;
    width: 30%;
    margin-top: 20px;
    margin-left: 40px;
    color: #CCC;
}

#footer h4 {
    margin-top: -11px;
}

@media screen and (max-width : 768px) and (min-width: 668px) {
    #footer a  {
        font-size: 11px;
    }
}

@media screen and (max-width : 667px) and (min-width : 321px) {
    #footer a  {
        font-size: 11px;
    }
}

@media screen and (max-width : 320px) {
    #footer a  {
        font-size: 11px;
    }
}

a:hover {
  text-decoration: none;
}

/* -------------------------------- 
sign up modal
-------------------------------- */
.modal-body {
    height: 400px;
}

.modal-body  > .contact > .text-center > .input-text {
    padding: 5px 40px;
    margin-bottom: 10px;
    margin-right: 25px;
    background-color: #dadbdb;
    border: none;
}

.modal-body > .contact > .input-email {
     padding: 5px 169px;
     margin-left: 29px;
     margin-bottom: 20px;
     background-color: #dadbdb;
     border: none;
}

.modal-body > .contact > .input-message {
    padding: 100px 164px;
    margin-left: 29px;
    text-align: center;
}

.btn-modal {
    background-color: #8DC63F;
    color: #fff;
    border-radius: 0px !important;
    border: none;
    padding: 10px 20px;
    margin-top: 22px;
}

@media screen and (max-width : 768px) and (min-width: 668px) {
    .btn-modal {
        margin-top: 265px;
    }

    .modal-body  > .contact > .text-center > .input-text {
        margin-right: 81px;
        width: 32%;
    }  
}

@media screen and (max-width : 667px) and (min-width : 321px) {
    .btn-modal {
        margin-top: 50px;
    }  
}

@media screen and (max-width: 468px) {
    .modal-body > .contact > .input-email {
        padding: 5px 40px;
        margin-left: 35px;
        margin-bottom: 20px;
        background-color: #dadbdb;
        border: none;
    }
    
    .modal-body > .contact > .input-message {
        padding: 45px 35px;
        margin-left: 35px;
        text-align: center; 
    }
}

/* -------------------------------- 
col-resets
-------------------------------- */
@media (min-width: 992px) {
    .col-md-offset-3 {
        margin-left: 16%;
    }

    .col-md-offset-1 {
        margin-left: 0;
    }
}  







