/*.timeline {*/
  /*background: repeating-linear-gradient(0, transparent 0, transparent 2px, #fff 3px, #fff 3px);*/
  /*background-color: #00AEEF;
  background-attachment: fixed, scroll;*/
 /* background-size: 2rem 100%, 100%;
  background-position: 50% 0;*/
  /*background-repeat: no-repeat;*/
  /*background: url(../css/images/timeline-bkg.png) repeat-y;*/
/*}*/

.timeline {
    margin: 0 auto;
    max-width: 60rem;
    margin-top: 150px;
    background: url(../css/images/timeline-bkg.png) top center repeat-y;
}

@media screen and (max-width : 667px) and (min-width : 321px) {
    .timeline {
        display: none;  
    }
} 

.timeline-heading > img {
    margin-left: 135px;
    width: 55%;
    margin-top: -150px;
}

@media (max-width: 20rem) {
    .timeline-heading, .timeline-subheading {
        font-size: 2rem;
    }
}

.timeline-subheading {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

.timeline-event {
    display: inline-block;
    margin: -4px;
    margin-bottom: 2rem;
    padding: 2.5rem;
    width: 50%;
    vertical-align: middle;
    list-style-type: none;
    width: 50%;
}

@media screen and (max-width: 667px) and (min-width: 321px) {
    .timeline-event {
        padding: 1.5rem;
    }
}  

@media (max-width: 30rem) {
    .timeline-event {
        width: 100%;
    }
}

.timeline-event-date {
    color: #fff;
    padding: .5rem;
    position: relative;
}

.timeline-event-date::before {
    content: "";
    border-color: transparent transparent transparent skyblue;
    border-style: solid;
    border-width: 1.1rem;
    display: none;
    position: absolute;
    right: -2rem;
    top: 0;
}

.timeline-event-name {
    /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);*/
    /*margin: -4px;*/
    color: #fff;
    position: relative;
    /*width: calc(100% + 8px);*/
}

.timeline-event-img[src=""] {
    display: none;
}

.timeline-event-title {
    color: #fff;
    position: relative;
}

.timeline-event-description {
    color: #fff;
}

.timeline-event-description:empty {
    display: none;
}

.timeline-event[data-category=""] {
    display: block;
    width: 100%;
    overflow: hidden;
}

.timeline-event[data-category=""] .timeline-event-date {
    display: block;
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
}

.timeline-event[data-category=""] .timeline-event-date::before {
    display: none;
}

@media (max-width: 20rem) {
    .timeline-event[data-category=""] .timeline-event-date {
        font-size: 1.5rem;
    }
}

.timeline-left {
    text-align: right;
    padding-right: 50px;
    margin-right: -25px;
    background: transparent url('images/green-dot.png') top right no-repeat;
    background-size: 7%;
}

.timeline-right {
	  text-align: left;
    padding-left: 50px;
    margin-left: -15px;
    background: transparent url('images/green-dot.png') top left no-repeat;
    background-size: 7%;
}








